<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" thread-count="2" parallel="methods">
    <test name="TestNG" >
        <!-- Parameters -->
        <parameter name="browser" value="FIREFOX"></parameter>

        <!-- Test Packages -->
        <!--
        <packages>
            <package name="dev.ericmarcelo.selenium.pom.tests" />
        </packages>
        -->

        <!-- Test Classes -->
        <classes>
            <class name="dev.ericmarcelo.selenium.pom.tests.MyFirstTestCase"></class>
<!--            <class name="dev.ericmarcelo.selenium.pom.tests.NavigationTest"></class>-->
<!--            <class name="dev.ericmarcelo.selenium.pom.tests.SearchTest"></class>-->
<!--            <class name="dev.ericmarcelo.selenium.pom.tests.AddToCartTest"></class>-->
        </classes>
    </test>
</suite>